<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="GdesAc" connectionString="Server=localhost;Database=gdes_ac;Uid=root;Pwd=aritel;" providerName="MySql.Data.MySqlClient" />
    <add name="GdesOd" connectionString="Server=localhost;Database=gdes_od;Uid=root;Pwd=aritel;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GdesAcUrlSuccess" value="http://localhost:8090/CliIndex.html"/>
    <add key="GdesAcUrlFail" value="http://localhost:8090/login.html"/>
    <add key="GdesOdUrlSuccess" value="http://localhost:8081/CliIndex.html"/>
    <add key="GdesOdUrlFail" value="http://localhost:8081/login.html"/> 
  </appSettings>
</configuration>